################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/UpworkProject/FileContentIndex
/UpworkProject/bin/Debug/net6.0
/UpworkProject/obj
/UpworkProject/wwwroot/uploads
